.hero-image
.hero-copy
  %h2
    SELECT A SONG FROM ONE OF THE THREE TOPICS AND START ANNOTATING!
%section.topic-selector
  %h1
    TOPICS
  .topic-dropdowns
    .song-dropdown
      %select
        -@songs.each do |song|
          %option
            = link_to song.title, song 
    .class-dropdown
    .strategy-dropdown

