// Place all the styles related to the Songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.lyrics{
  width:75%;
  float:left;
  margin-left: 100px;
  background:white;
}

.keyword-name{
font-weight:bold;


}

.information{
  width:20%;
  display:inline-block;
}

.information section{
  display:none;
}

.keyword{
  font-weight: bold;
  &:hover{
    background:yellow;
    cursor:pointer;
  }
}
.keyword-wrapper{
  width:600px;
  border:1px solid black;
  top: 0px;
  height:100%;
  right: 0px;
}
.keyword-card{
  position:fixed;
  display:none;
  width:400px;
  border:1px solid black;
  margin-top:200px;
  margin-left:auto;
  margin-right:auto;
  right:100px;
  li{
  list-style:none;
  }
.comment-content{
 margin-left:10px;
}
.keywords{
background:black;
height:300px;
width:300px;
}
}
