// Place all the styles related to the Songs controller here.
// They will automatically be included in application.c
// You can use Sass (SCSS) here: http://sass-lang.com/

.song-title{
  width:75%;
  float:left;
  margin-left: 100px;
  background:white;
}

.song-info{
 position:fixed;
 height:100%;
 background:green;
 width:500px;
 right:0;
}
.lyrics{
  width:75%;
  float:left;
  margin-left: 100px;
  background:white;
}

.keyword-name{
font-weight:bold;
}

.information{
  width:20%;
  display:inline-block;
}

.information section{
  display:none;
}

.keyword{
  font-weight: bold;
  &:hover{
    background:yellow;
    cursor:pointer;
  }
}
.keyword-card{
  position:fixed;
  display:none;
  width:400px;
  border:1px solid black;
  margin-top:200px;
  margin-left:50px;
  background:white;
  height:400px;
  li{
  list-style:none;
  }
  form{
    margin-top:50px;
    width:200px;
    text-align:center; 
    margin:auto;
  }
.comment-content{
 margin-left:10px;
 border:1px black solid;
 margin-top:10px;
 width:380px;
}


}
.comment-section{
  height: 250px;
  overflow-y: scroll;
}

