// Place all the styles related to the Songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.lyrics{
  width:75%;
  float:left
}

.information{
  width:20%;
  display:inline-block;
}

.information section{
  display:none;
}