%footer
  .row
    .small-4
      %img.footer-logo{:src => "http://www.urbanarts.org/wp-content/themes/urbanarts/img/uap_logo.png"}
    .small-4
      %p
        Urban Arts Partnership advances the intellectual, social and artistic development of underserved public school students through arts-integrated education programs to close the achievemnt gap.
    .small-4
      %p 
        ksdfj
