!!! 5
%html
  %head
    %title
      UrbanArtsPartnershipProject
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true 
    = csrf_meta_tags
  %body.home
  #fb-root
  #page.hfeed.off-canvas.hide-extras
    .header-full-width
      .body-top-bar
      .container
        %header#branding{:role => "banner"}
          %nav#menu.top-bar{:role => "navigation"}
            .title-area
              %a{:href => "http://www.urbanarts.org/", :rel => "home", :title => "Urban Arts Partnership"}
                %img{:src => "/wp-content/themes/urbanarts/img/UAP-full-logo.png"}
            %section.primary-nav
              .menu-main-menu-container
                %ul#menu-main-menu.top-bar-section
                  %li#menu-item-104.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-104
                    %a{:href => "/students/"} Students
                  %li#menu-item-103.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-103
                    %a{:href => "/educators/"} Educators
                  %li#menu-item-102.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-102
                    %a{:href => "/programs/"} Programs
                  %li#menu-item-455.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-455
                    %a{:href => "/impact-page/"} Impact
                  %li#menu-item-1461.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-1461
                    %a{:href => "/news-events/"} News &amp; Events
                  %li#menu-item-189.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-189
                    %a{:href => "/about/"} About Us
            #menu-wrapper
              %a#sidebarButton.sidebar-button.button{:href => "#"}
                %span MENU
      %section#main-profiles{:style => "background-color:#380612"}
        .row
          #profile-slider.flexslider
            %ul.slides
              %li
                %img{:src => "/wp-content/themes/urbanarts/img/header_mission.jpg"}/
                #missionText
                  %h1 Urban Arts Partnership advances the intellectual, social and artistic development of underserved public school students through arts-integrated education programs to close the achievement gap.
              %li
                %a{:href => "https://app.mobilecause.com/public/campaigns_keywords/14353/donations/new"}
                  %img.profile-image{"data-hover-url" => "http://www.urbanarts.org/wp-content/uploads/2014/11/uap-SLIDER_Rosie.jpg", "data-url" => "http://www.urbanarts.org/wp-content/uploads/2014/11/uap-SLIDER_Rosie.jpg", :src => "http://www.urbanarts.org/wp-content/uploads/2014/11/uap-SLIDER_Rosie.jpg"}/
                %blockquote
                  %a{:href => "https://app.mobilecause.com/public/campaigns_keywords/14353/donations/new"}
                    %p
                      Artistic Board Chair Rosie Perez invites you to support UAP's mission to provide opportunities for students in underserved schools
                    %hgroup
                      %h3 Rosie Invites You!
                      %h4 Donate Here >>
              %li
                %a{:href => "http://urbanarts.org/annual-reports/"}
                  %img.profile-image{"data-hover-url" => "http://www.urbanarts.org/wp-content/uploads/2014/08/uap-SLIDER_AnnualReport3.jpg", "data-url" => "http://www.urbanarts.org/wp-content/uploads/2014/08/uap-SLIDER_AnnualReport3.jpg", :src => "http://www.urbanarts.org/wp-content/uploads/2014/08/uap-SLIDER_AnnualReport3.jpg"}/
                %blockquote
                  %a{:href => "http://urbanarts.org/annual-reports/"}
                    %p
                      In 2013, Urban Arts Partnership grew its programs and services by more than 100% - reaching more than 12,000 students.
                      %br/
                      %br/
                      Check out our 2013 Annual Report!
                    %hgroup
                      %h3 Annual Report 2013
                      %h4 READ ABOUT OUR IMPACT LAST YEAR
              %li
                %a{:href => "http://www.urbanarts.org/profile/devin-mojica/"}
                  %img.profile-image{"data-hover-url" => "http://www.urbanarts.org/wp-content/uploads/2014/02/uap-hero-devin_hover.jpg", "data-url" => "http://www.urbanarts.org/wp-content/uploads/2014/02/uap-hero-devin.jpg", :src => "http://www.urbanarts.org/wp-content/uploads/2014/02/uap-hero-devin.jpg"}/
                %blockquote
                  %a{:href => "http://www.urbanarts.org/profile/devin-mojica/"}
                    %p
                      “I want to reach my greatest potential in life... I want to be an example to my nieces and nephews who will see me, and now hopefully think that they too can strive for something greater.“
                    %hgroup
                      %h3 Devin Mojica
                      %h4 UAP Life Stories alumnus and Nagler Scholar
                  %a{"data-reveal-id" => "video-modal-1", :href => "#"}
                    .video-block
                      %img{:src => "http://www.urbanarts.org/wp-content/uploads/2014/02/zeran-video.png"}/
                      %img.play-button{:src => "/wp-content/themes/urbanarts/img/play-button.png"}/
              #video-modal-1.reveal-modal.overthrow.video-modal
                .fitVids
                  %iframe{:allowfullscreen => "", :frameborder => "0", :height => "281", :mozallowfullscreen => "", :src => "//player.vimeo.com/video/87029910?title=0&amp;byline=0&amp;portrait=0", :webkitallowfullscreen => "", :width => "500"}
              %li
                %a{:href => "http://www.urbanarts.org/profile/sarwat-siddiqui/"}
                  %img.profile-image{"data-hover-url" => "http://www.urbanarts.org/wp-content/uploads/2014/02/uap-hero-sarwat_hover.jpg", "data-url" => "http://www.urbanarts.org/wp-content/uploads/2014/02/uap-hero-sarwat.jpg", :src => "http://www.urbanarts.org/wp-content/uploads/2014/02/uap-hero-sarwat.jpg"}/
                %blockquote
                  %a{:href => "http://www.urbanarts.org/profile/sarwat-siddiqui/"}
                    %p
                      “I entered UAP as a quiet, shy and insecure 10th grader, reluctant to share my work. But over the years I gained confidence in both my writing and in myself.“
                    %hgroup
                      %h3 Sarwat Siddiqui
                      %h4 UAP Play Writing alumna and Nagler Scholar
            .circleBox{:style => "display:none"}
              %a{:href => "https://app.mobilecause.com/public/campaigns_keywords/14353/donations/new"}
                %ul.ch-grid{:style => "display:none"}
                  %li
                    .ch-item
                      .ch-info
                        %h1 DONATE TODAY
                      .ch-info2
                        %h2
                          Support Urban Arts Partnership.
                        %h3 Donate Now
          .secondary-nav
            .menu-utility-navigation-container
              %ul
                %li
                  %a{:href => "/partners"} Partners
                %li
                  %a.donate-now{:href => "https://app.mobilecause.com/public/campaigns_keywords/14353/donations/new"} Donate Now
            %a{:href => "https://plus.google.com/+UrbanartsOrg", :target => "_blank"}
              %img.social-icon.google-plus{:src => "/wp-content/themes/urbanarts/img/\n  googleplus-white.png"}/
            %a{:href => "https://www.facebook.com/urbanartspartnership", :target => "_blank"}
              %img.social-icon.facebook{:src => "/wp-content/themes/urbanarts/img/fb-white.png"}/
            %a{:href => "https://twitter.com/UAPNYC", :target => "_blank"}
              %img.social-icon.twitter{:src => "/wp-content/themes/urbanarts/img/twitter-white.png"}/
            %form.search-form.hide-for-medium-down{:action => "http://www.urbanarts.org/", :method => "get", :role => "search"}
              %input#search{:name => "s", :type => "text", :value => ""}/
              %input.hide-for-medium-down{:alt => "Search", :src => "/wp-content/themes/urbanarts/img/search-white.png", :type => "image"}/
    .row
      #main.container{:role => "main"}
        %section#mission-block.homepage-block
          .row
            %h3
              UAP serves over
              %span#totalStudents.odometer 10,000
              students and
              %span#totalTeachers.odometer 100
              teachers in
              %span#totalSchools.odometer 10
              under served schools across New York City and Los Angeles.
          .row
            .small-4.columns
              %article
                %img.icon.fadeIn{:src => "http://www.urbanarts.org/wp-content/uploads/2014/02/uap-illo1.png"}/
                %h1 Closing the Achievement Gap
                %p UAP uses the arts to address educational inequity and provide the opportunity for young people to gain the skills and understanding they need to move on to college and career.
            .small-4.columns
              %article
                %img.icon.fadeIn{:src => "http://www.urbanarts.org/wp-content/uploads/2014/02/UAP-illo2.png"}/
                %h1 Inspiring Public Education
                %p Our professional development programs give classroom teachers a transformational set of creative approaches, tools and resources to address Common Core learning standards through the arts.
            .small-4.columns
              %article
                %img.icon.fadeIn{:src => "http://www.urbanarts.org/wp-content/uploads/2014/02/UAP-illo3.png"}/
                %h1 Unlocking Student Potential
  %footer
    .row
      .small-2.columns.two
        %address
          %img.footer-logo{:src => "/wp-content/themes/urbanarts/img/uap_logo.png"}
            %p
              21 Howard St, 5th Fl
              %br/
              New York, NY 10013
              %br/
              Email:
              %a{:href => "/cdn-cgi/l/email-protection#6900070f06291c1b0b0807081b1d1a47061b0e"}
                %span.__cf_email__{"data-cfemail" => "5d34333b321d282f3f3c333c2f292e73322f3a"} [email protected]
              %br/
              Phone: 212-966-5881
              %br/
              Fax: 212-966-5911
      .small-6.small-offset-1.offset-by-one.columns.six
        .mailing-list-box
          %h2.please Join Our Mailing List
          %form.form-search{:action => "http://visitor.r20.constantcontact.com/d.jsp"}
            %input{:name => "llr", :type => "hidden", :value => "krbka7dab"}
              %input{:name => "m", :type => "hidden", :value => "1103672706602"}
                %input{:name => "p", :type => "hidden", :value => "oi"}
                  %input.search-query{:name => "ea", :type => "email"}
                    %button.btn{:type => "submit"} Submit
        %p.copyright
          All Content is ©2013 Urban Arts Partnership. All Rights Reserved.
          %span
            %a{:href => "/privacy-terms/"} Privacy & Terms
        %p.terms
          Site by
          %a{:href => "http://familiar-studio.com"} Familiar
      .small-2.small-offset-1.offset-by-one.columns.two
        .menu-main-menu-container
          %ul#menu-main-menu-1.top-bar-section
            %li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-104
              %a{:href => "http://www.urbanarts.org/students/"} Students
            %li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-103
              %a{:href => "http://www.urbanarts.org/educators/"} Educators
            %li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-102
              %a{:href => "http://www.urbanarts.org/programs/"} Programs
            %li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-455
              %a{:href => "http://www.urbanarts.org/impact-page/"} Impact
            %li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-1461
              %a{:href => "http://www.urbanarts.org/news-events/"} News & Events
            %li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-4937
              %a{:href => "http://www.urbanarts.org/about/"} About Us
        .menu-utility-navigation-container
          %ul#menu-utility-navigation.top-bar-section
            %li#menu-item-186.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-186
              %a{:href => "http://www.urbanarts.org/partners/"} Partners
            %li#menu-item-459.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-459
              %a{:href => "https://app.mobilecause.com/public/campaigns_keywords/14353/donations/new"} Donate Now
            %li#menu-item-4949.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-4949
              %a{:href => "http://www.urbanarts.org/tag/job-posting/"} Careers
  %script{:src => "/wp-content/themes/urbanarts/javascripts/jquery.color.js", :type => "text/javascript"}
    =yield



