%footer
  .row
    .small-2.columns.two
      %address
        %img.footer-logo{:src => "/wp-content/themes/urbanarts/img/uap_logo.png"}
          %p
            21 Howard St, 5th Fl
            %br/
            New York, NY 10013
            %br/
            Email:
            %a{:href => "/cdn-cgi/l/email-protection#620b0c040d22171000030c031016114c0d1005"}
              %span.__cf_email__{"data-cfemail" => "a2cbccc4cde2d7d0c0c3ccc3d0d6d18ccdd0c5"} [email protected]
              %script{"cf-hash" => "f9e31", :type => "text/javascript"}
                \/*
                :cdata
                  */!function(){try{var t="currentScript"in document?document.currentScript:function(){for(var t=document.getElementsByTagName("script"),e=t.length;e--;)if(t[e].getAttribute("cf-hash"))return t[e]}();if(t&&t.previousSibling){var e,r,n,i,c=t.previousSibling,a=c.getAttribute("data-cfemail");if(a){for(e="",r=parseInt(a.substr(0,2),16),n=2;a.length-n;n+=2)i=parseInt(a.substr(n,2),16)^r,e+=String.fromCharCode(i);e=document.createTextNode(e),c.parentNode.replaceChild(e,c)}}}catch(u){}}();/*
                */
            %br/
            Phone: 212-966-5881
            %br/
            Fax: 212-966-5911
    .small-6.small-offset-1.offset-by-one.columns.six
      .mailing-list-box
        %link{:href => "//cdn-images.mailchimp.com/embedcode/classic-081711.css", :rel => "stylesheet", :type => "text/css"}
          :css
            #mc_embed_signup{background:#fff;clear:left;font:14px Helvetica,Arial,sans-serif;}          #mc_embed_signup
            %form#mc-embedded-subscribe-form.validate{:action => "//urbanarts.us6.list-manage.com/subscribe/post?u=62774208f73880fc5fd74b077&amp;id=eccecd92fc", :method => "post", :name => "mc-embedded-subscribe-form", :novalidate => "", :target => "_blank"}
              #mc_embed_signup_scroll
                %h2 Join our mailing list
                .mc-field-group
                  %label{:for => "mce-EMAIL"} Email Address
                  %input#mce-EMAIL.required.email{:name => "EMAIL", :type => "email", :value => ""}
                #mce-responses.clear
                  #mce-error-response.response{:style => "display:none"}
                  #mce-success-response.response{:style => "display:none"}
                %div{:style => "position: absolute; left: -5000px;"}
                  %input{:name => "b_62774208f73880fc5fd74b077_eccecd92fc", :tabindex => "-1", :type => "text", :value => ""}/
                .clear
                  %input#mc-embedded-subscribe.button{:name => "subscribe", :type => "submit", :value => "Subscribe"}/
      %br
        %br
          %p.copyright
            All Content is ©2013-2015 Urban Arts Partnership. All Rights Reserved.
            %span
              %a{:href => "/privacy-terms/"} Privacy & Terms
          %p.terms
            Site by
            %a{:href => "http://familiar-studio.com"} Familiar
    .small-2.small-offset-1.offset-by-one.columns.two
      .menu-main-menu-container
        %ul#menu-main-menu-1.top-bar-section
          %li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-104
            %a{:href => "http://www.urbanarts.org/students/"} Students
          %li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-103
            %a{:href => "http://www.urbanarts.org/educators/"} Educators
          %li.menu-item.menu-item-type-post_type.menu-item-object-page.current-menu-item.page_item.page-item-94.current_page_item.menu-item-102
            %a{:href => "http://www.urbanarts.org/programs/"} Programs
          %li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-455
            %a{:href => "http://www.urbanarts.org/impact-page/"} Impact
          %li.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-6196
            %a{:href => "http://blog.urbanarts.org"} Blog
          %li.menu-item.menu-item-type-taxonomy.menu-item-object-tribe_events_cat.menu-item-6197
            %a{:href => "http://www.urbanarts.org/events/category/annual-events/"} Events
          %li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-4937
            %a{:href => "http://www.urbanarts.org/about/"} About Us
      .menu-utility-navigation-container
        %ul#menu-utility-navigation-1.top-bar-section
          %li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-186
            %a{:href => "http://www.urbanarts.org/partners/"} Partners
          %li.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-459
            %a{:href => "https://app.mobilecause.com/public/campaigns_keywords/14353/donations/new"} Donate Now
          %li.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-4949
            %a{:href => "http://www.urbanarts.org/tag/job-posting/"} Careers
